dist
node_modules
node_modules.*
.runtime
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
!**/.env.migration.example
**/node_modules
**/.next*
**/dist
.git
**/._*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
